<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745242112330-894pqldveaqasoceor0f4tb4vcj2jp0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745242112330-894pqldveaqasoceor0f4tb4vcj2jp0e</string>
	<key>API_KEY</key>
	<string>AIzaSyCDcpFkI5zscP73dtGjWcN4gpMxk-rydk4</string>
	<key>GCM_SENDER_ID</key>
	<string>745242112330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MangDic.TestProject</string>
	<key>PROJECT_ID</key>
	<string>testproject-f6ab4</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-f6ab4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745242112330:ios:76fabf43820b2250f3d1b3</string>
</dict>
</plist>